{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 30rem; background-color: rgba(255, 255, 255, 0.5);">
      <div class="card-header text-center">
        Регистрация пользователя
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
        <div style="text-align: center;">
          {% bootstrap_button button_type="submit" content="Зарегистрироваться" button_class="btn-dark" %}
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}