{% extends "base.html" %}
{% load static %}
{% block title %}
Контакты
{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8" >
            <div class="card" style="background-color: rgba(255, 255, 255, 0.5);">
                <div class="card-header text-center">
                    <h4>Контакты</h4>
                </div>
                <div class="d-flex justify-content-center mt-2" >
                Мы в социальных сетях:&nbsp;
                    <a href="https://www.instagram.com/rum_nails_orsha/" target="_blank" class="contact-link">
                        <img class="contact-icon" src="{% static 'img/icons/instagram.png' %}" alt="Instagram">
                    </a>
                    <a href="https://www.vk.ru/rum_nails_orsha/" target="_blank" class="contact-link">
                        <img class="contact-icon" src="{% static 'img/icons/vk.png' %}" alt="VK">
                    </a>
                </div>
                <div class="card-body text-center">
                    <p>
                      <img class="contact-icon" src="{% static 'img/icons/phone.png' %}" alt="Phone">
                      +375(29) 757-03-61
                      <a href="#" class="contact-link"><img class="contact-icon" src="{% static 'img/icons/viber.png' %}" alt="Viber"></a>
                      <a href="#" class="contact-link"><img class="contact-icon" src="{% static 'img/icons/watsapp.png' %}" alt="Watsapp"></a>
                      <a href="#" class="contact-link"><img class="contact-icon" src="{% static 'img/icons/telegram.png' %}" alt="Telegram"></a>
                    </p>
                    <p class="email">
                        <img class="contact-icon" src="{% static 'img/icons/email.png' %}" alt="Email"> rum_nails@yandex.by
                    </p>
                    <p class="working-hours"> 
                        <img class="contact-icon" src="{% static 'img/icons/working-hours.png' %}" alt="Working-hours">Режим работы </br>Ежедневно, с 08:00 до 20:00
                    </p>
                    <p class="location"> 
                        <img class="contact-icon" src="{% static 'img/icons/map.png' %}" alt="Map">Мы находимся по адресу: ул.Мира д.38
                    </p>
                    <iframe src="https://yandex.ru/map-widget/v1/-/CCUyqDgWLA?ll=30.408511,54.512978&z=18" width="100%" height="400" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}