{% extends "base.html" %}
{% block title %}Полный текст совета{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card" style="background-color: rgba(255, 255, 255, 0.5);">
                <div class="card-header text-center">
                    <h4>{{ info.title }}</h4>
                </div>
                <div class="card-body">
                    <p>{{ info.text|linebreaks }}</p>
                    <a href="{% url 'pages:info' %}" class="btn btn-link" style="color: black">Назад к советам</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
