{% extends "base.html" %}
{% block title %}
Прайс-лист
{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-4">
      <a href="{% url 'pages:contact' %}" class="main-btn btn-hover">Записаться на маникюр</a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="card shadow-lg p-3 mb-8" style="background-color: rgba(255, 255, 255, 0.5);">
        <div class="card-header text-center">
          <h4>Прайс-лист</h4>
          <table class="table table-striped table-bordered table-hover" style="border: black">
            <thead>
              <tr>
                <th class="text-center" style="text-align: center;">Название услуги</th>
                <th class="text-center"><i class="fas fa-coins"></i> Стоимость услуги (рублей)</th>
              </tr>
            </thead>
            <tbody>
              {% for price in price_list %}
              <tr>
                <td>{{ price.service }}</td>
                <td class="text-center">{{ price.price }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
