{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
Отмена записи
{% endblock %}
{% block content %}
<div class="col d-flex justify-content-center">
    <div class="card" style="width: 23rem; background-color: rgba(255, 255, 255, 0.5);">
      <div class="card-header text-center">
        Отмена записи
      </div>
        <div class="card-body text-center">  
            <p>Вы уверены, что хотите отменить запись?</p>
            <form method="post">
              {% csrf_token %}
              {% bootstrap_button button_type="submit" content="Удалить" button_class="btn-dark" %}
            </form>
        </div>
    </div>
</div> 
{% endblock %}
