{% load static %}
<footer class="border-top text-center py-3 bg-dark text-white">
  <div class="container">
    <p class="mb-0">© 2024 Студия маникюра RumNails</p>
    <p class="mb-0 small"><img class="contact-icon" src="{% static 'img/icons/phone.png' %}" alt="Phone"> 
        +375(29) 757-03-61
        <a href="#" class="contact-link"><img class="contact-icon" src="{% static 'img/icons/viber.png' %}" alt="Viber"></a>
        <a href="#" class="contact-link"><img class="contact-icon" src="{% static 'img/icons/watsapp.png' %}" alt="Watsapp"></a>
        <a href="#" class="contact-link"><img class="contact-icon" src="{% static 'img/icons/telegram.png' %}" alt="Telegram"></a>
    </p>  
    <p class="mb-0 small">Следите за нами в социальных сетях:</p>
    <div class="d-flex justify-content-center mt-2">
      <a href="https://www.instagram.com/rum_nails_orsha/" target="_blank" class="contact-link">
        <img class="contact-icon" src="{% static 'img/icons/instagram.png' %}" alt="Instagram">
      </a>
      <a href="https://www.vk.ru/rum_nails_orsha/" target="_blank" class="contact-link">
        <img class="contact-icon" src="{% static 'img/icons/vk.png' %}" alt="VK">
      </a>
    </div>
      <p class="mb-0 small">"Красивые руки - ваша визитная карточка!"</p>
  </div>
</footer>