{% load static %}
<footer class="border-top text-center py-3 text-white">
  <div class="container">
    <p class="mb-0 neon-text">"Красивые руки - ваша визитная карточка!"</p>
    <p class="mb-0 small mt-2"><img class="contact-icon phone-icon" src="{% static 'img/icons/phone.png' %}" alt="Phone"> 
        +375(29) 757-03-61
        <a href="viber://chat?number=%2B375297570361" class="contact-link" target="_blank">
            <img class="contact-icon" src="{% static 'img/icons/viber.png' %}" alt="Viber">
        </a>
        <a href="https://wa.me/375297570361" class="contact-link" target="_blank">
            <img class="contact-icon" src="{% static 'img/icons/watsapp.png' %}" alt="WhatsApp">
        </a>
        <a href="https://t.me/Rum_Nails_bot" class="contact-link" target="_blank">
            <img class="contact-icon" src="{% static 'img/icons/telegram.png' %}" alt="Telegram">
        </a>
    </p>  
    <p class="mb-0 small">Следите за нами в социальных сетях:</p>
    <div class="d-flex justify-content-center mt-2">
      <a href="https://www.instagram.com/rum_nails_orsha/" target="_blank" class="contact-link">
        <img class="contact-icon" src="{% static 'img/icons/instagram.png' %}" alt="Instagram">
      </a>
      <a href="https://www.vk.ru/rum_nails_orsha/" target="_blank" class="contact-link">
        <img class="contact-icon" src="{% static 'img/icons/vk.png' %}" alt="VK">
      </a>
    </div>
    <p class="mb-0 neon-text">© 2024 Студия маникюра RumNails</p>
  </div>
</footer>