{% load static %}
<header class="bg-gradient">
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent"> 
  <div class="container-fluid">
  <a class="navbar-brand" href="{% url 'pages:index' %}">
    <img src="{% static 'img/logo.png' %}" alt="Логотип" height="40"> 
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> Меню сайта</button>
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pages:index' %}">
                        Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pages:price' %}">
                        Прайс-лист
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pages:foto' %}">
                        Мои работы
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pages:info' %}">
                        Советы
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pages:contact' %}">
                        Контакты
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reviews:review' %}">
                        Отзывы
                    </a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-dark"><a class="text-decoration-none text-reset"
                  href="{% url 'users:profile' user.username %}">Личный кабинет</a></button>
              <button type="button" class="btn btn-outline-dark"><a class="text-decoration-none text-reset"
                  href="{% url 'logout' %}">Выйти</a></button>
            </div>
            {% else %}
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-dark"><a class="text-decoration-none text-reset"
                  href="{% url 'login' %}">Войти</a></button>
              <button type="button" class="btn btn-outline-dark"><a class="text-decoration-none text-reset"
                  href="{% url 'users:registration' %}">Регистрация</a></button>
            </div>
            {% endif %}
        </div>
    </div>
  </nav>
</header>