@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0;
}

body {
    background-image: linear-gradient(to right, #f44336, #e91e63, #9c27b0, #673ab7, #3f51b5, #2196f3, #03a9f4, #00bcd4, #009688, #4caf50, #8bc34a, #cddc39, #ffeb3b, #ffc107, #ff9800, #ff5722);
    background-size: 1600% 1600%;
    animation: gradient 200s ease infinite;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Обеспечивает, что body занимает всю высоту экрана */
    margin: 0; /* Убирает отступы по умолчанию */
}

main {
    flex: 1; /* Позволяет основному контенту занимать все доступное пространство */
}

/* Header */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.navbar-nav .nav-link {
    color: black;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: white; /* Цвет при наведении */
    animation: pulse 0.6s infinite; /* Анимация пульсации */
}


.btn.btn-dark.dropdown-toggle.custom-dropdown-toggle {
    border-radius: 15px !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Добавление тени */
    padding: 7px 15px !important;
    transition: background-color 0.3s, box-shadow 0.3s !important;
    background-color: black;
}

.btn.btn-dark.dropdown-toggle.custom-dropdown-toggle:hover {
    background-color: #495057 !important; /* Темнее оттенок серого */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3) !important;
}

.custom-dropdown-menu {
    border-radius: 15px;
}

.custom-dropdown-menu .dropdown-item {
    transition: background-color 0.3s;
}

.custom-dropdown-menu .dropdown-item:hover {
    background-color: #495057; /* Еще темнее оттенок серого */
}


/* Кнопки */
.main-btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    z-index: 5;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Плавный переход */
    border: none;
    background: black;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Добавление тени */
}

.main-btn:hover {
    transform: scale(1.1); /* Увеличение кнопки */
    background-color: black; /* Изменение цвета фона при наведении */
    color: white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7); /* Увеличение тени при наведении */
}

.bg-gradient {
    background: linear-gradient(to right, rgba(0, 123, 255, 0.5), rgba(255, 193, 7, 0.5));
    backdrop-filter: blur(5px);
    padding: 10px 0;
}


/* Главная страница */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Смещение вниз */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Конечное состояние без смещения */
    }
}

.fade-in {
    animation: fadeIn 3s ease-in-out;
    width: 100%;
}

@keyframes about {
    from {
        opacity: 0;
        transform: translateY(20px); /* Смещение вниз */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Конечное состояние без смещения */
    }
}

.animate-custom-about {
    animation: about 3s ease-in-out forwards; /* Сохраняет конечное состояние анимации */
    opacity: 0; /* Начальное состояние */
}

/* Анимация появления главного фото */
@keyframes slideOut {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.animate-custom-main-foto {
    animation: slideOut 3s ease-in-out;
}

/* Анимация слайдера */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.animate-custom-image {
    animation: slideIn 3s ease-in-out;
}

/* Страница прайс-лист */
.custom-table {
    border-radius: 3px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%; /* Убедитесь, что таблица занимает 100% ширины */
    table-layout: auto; /* Автоматическая ширина столбцов */
}

.custom-table thead {
    background-color: black; /* Цвет фона заголовка таблицы */
    border: 1px solid white; /* Установка черной границы для заголовков ячеек */
}

.custom-table th {
    padding: 15px;
    text-align: center;
    color: white; /* Цвет текста заголовка */
}

.custom-table td {
    padding: 15px;
    text-align: center;
    color: black; /* Цвет текста ячеек */
    border: 1px solid black; /* Установка черной границы для ячеек */
    word-wrap: break-word; /* Позволяет переносить длинные слова */
    white-space: normal; /* Позволяет переносу строк */
}

.custom-table tbody tr {
    transition: background-color 0.3s ease; /* Плавный переход фона при наведении */
    border: 1px solid black; /* Установка черной границы для строк */
}

.custom-table tbody tr:hover {
    background-color: rgb(168, 161, 161, 0.5); /* Цвет фона при наведении на строку */
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для карточки */
}

.card-header {
    background-color: white; /* Цвет фона заголовка карточки */
    color: black; /* Цвет текста заголовка карточки */
    border-radius: 10px 10px 0 0; /* Закругление верхних углов заголовка карточки */
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    .custom-table td {
        font-size: 14px; /* Уменьшение размера шрифта */
        padding: 8px;   /* Уменьшение отступов */
    }

    .custom-table th {
        font-size: 16px; /* Уменьшение размера шрифта заголовка */
    }
}

/* Онлайн-запись */
.alert {
    border-radius: 15px;
}

input[type="date"],
input[type="time"],
select {
    border-radius: 15px;
    border: 1px solid #ced4da;
    padding: 10px;
    transition: border-color 0.3s;
}


input[type="date"]:focus,
input[type="time"]:focus,
select:focus {
    color: black;               /* Цвет текста при фокусе */
    background-color: #e0e0e0;  /* Цвет фона при фокусе */
    border-color: black !important;  /* Цвет рамки при фокусе */
    outline: none !important;        /* Убираем стандартное обрамление */
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.5) !important; /* Чёрная подсветка */
}

#manicure-services,
#pedicure-services {
    border: 1px solid #ced4da;
    border-radius: 15px;
    padding: 5px;
    background-color: rgb(0, 0, 0, 0.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: black;
}

.form-check {
    text-align: left;

}

/* Страница контакты */
.contact-icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.phone-icon {
    margin-right: 0; /* Убираем отступ только для иконки телефона */
}
.contact-icon:hover {
    transform: translateY(-5px);
}
.contact-link {
    text-decoration: none; /* Убирает подчеркивание */
}
.contact-link:hover {
    text-decoration: none;
}

.social-icons img {
    margin: 0 5px;
}

.social-icons {
    margin-top: 20px;
}

.working-hours, .location {
    margin-top: 20px;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Страница мои работы */
@media (min-width: 768px) {
    .carousel-item img {
        width: 700px;
        height: 500px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Страница отзывы */
.card-footer {
    display: flex; /* Используем Flexbox */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем по центру по вертикали */
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    color: inherit;
}

.like-button.liked {
    color: red;
}

/* Footer */
footer {
    width: 100%; /* Футер занимает всю ширину экрана */
    background-color: rgb(0, 0, 0, 0.5); /* Цвет фона футера */
    color: white; /* Цвет текста футера */
    text-align: center; /* Выравнивание текста по центру */
    padding: 1rem; /* Отступы вокруг текста */
    margin-top: auto; /* Позволяет футеру оставаться внизу страницы */
}

.neon-text {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

img {
    margin-right: 10px;
}

.img-fluid {
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Настройте параметры тени по своему желанию */
}

/* Пагинация */
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination .page-link {
    color: black;
    padding: 10px 15px; /* Измените отступы для кнопок */
    font-size: 16px; /* Измените размер шрифта */
    text-decoration: none; /* Уберите подчеркивание */
}

.pagination .active .page-link {
    color: white;
    background-color: gray;
    border-color: black;
}

.pagination .disabled .page-link {
    color: gray;
}

.pagination .page-link:hover {
    color: black; /* Цвет текста при наведении */

}

@media (max-width: 768px) {
    .pagination .page-link {
        padding: 8px 10px; /* Уменьшите отступы для мобильных устройств */
        font-size: 11px; /* Уменьшите размер шрифта для мобильных устройств */
    }
}

/* Профиль */
.card-profile {
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-table {
    border-radius: 3px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%; /* Убедитесь, что таблица занимает 100% ширины */
    table-layout: auto; /* Автоматическая ширина столбцов */
}

.profile-table thead {
    background-color: black; /* Цвет фона заголовка таблицы */
    border: 1px solid white; /* Установка черной границы для заголовков ячеек */
}

.profile-table th {
    padding: 15px;
    text-align: center;
    color: white; /* Цвет текста заголовка */
}

.profile-table td {
    padding: 15px;
    text-align: center;
    color: black; /* Цвет текста ячеек */
    border: 1px solid black; /* Установка черной границы для ячеек */
    word-wrap: break-word; /* Позволяет переносить длинные слова */
    white-space: normal; /* Позволяет переносу строк */
}

.profile-table tbody tr {
    transition: background-color 0.3s ease; /* Плавный переход фона при наведении */
    border: 1px solid black; /* Установка черной границы для строк */
}

.profile-table tbody tr:hover {
    background-color: rgb(168, 161, 161, 0.5); /* Цвет фона при наведении на строку */
}
@media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;
    }
    .profile-table td {
        font-size: 12px; /* Уменьшение размера шрифта */
        padding: 10px;   /* Уменьшение отступов */
    }

    .profile-table th {
        font-size: 13px; /* Уменьшение размера шрифта заголовка */
    }
}