{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
    <title>
      {% block title %}{% endblock %}
    </title>
    {% bootstrap_css %}
</head>
<body>
    {% include "includes/header.html" %}
    <main>
        <div class="container py-5">
            {% block content %}{% endblock %}
        </div>
    </main>
    {% include "includes/footer.html" %}
    <script>
        $(document).ready(function(){
            $('.navbar-toggler').on('click', function(){
                $('#navbarSupportedContent').toggleClass('show');
            });

            // Инициализация datepicker с русской локализацией
            flatpickr('.datepicker', {
                dateFormat: 'd-m-Y',
                locale: 'ru',
                onClose: function(selectedDates, dateStr, instance) {
                    // Закрытие календаря
                }
            });
        });
    </script>
</body>
</html>
