{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    Личный кабинет
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <h3 class="mb-3 text-center">Личный кабинет:<br>
          {{ user.get_full_name }}</h3>
      <div class="text-center mb-4">
        <p class="mb-1 text-dark">Регистрация: {{ user.date_joined|date:"d.m.Y в H:i" }}</p>
      </div>

      {% if user.is_authenticated and request.user == user %}
      <div class="d-flex justify-content-center mb-4">
        <a class="btn btn-outline-dark btn-m me-3 shadow-sm" href="{% url 'users:edit_profile' %}">
          <i class="bi bi-pencil"></i> Редактировать профиль
        </a>
        <a class="btn btn-outline-dark btn-m shadow-sm" href="{% url 'password_change' %}">
          <i class="bi bi-lock"></i> Изменить пароль
        </a>
      </div>
      {% endif %}

      <!-- Форма выбора месяца и года -->
        <div class="text-center mb-4">
            <form method="GET" action="">
                <label for="month-select">Выберите месяц:</label>
                <select id="month-select" name="month" onchange="this.form.submit()">
                    {% for month in months %}
                        <option value="{{ forloop.counter }}" {% if forloop.counter == selected_month %}selected{% endif %}>
                            {{ month }}
                        </option>
                    {% endfor %}
                </select>
        
                <label for="year-select">Выберите год:</label>
                <select id="year-select" name="year" onchange="this.form.submit()">
                    {% for year in years %}
                        <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>
                            {{ year }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>

      <div class="card" style="background-color: rgba(255, 255, 255, 0.5);">
        <div class="card-header text-center mt-1 mb-2">
          <h5 class="text-center">Ваши записи за {{ months|slice:selected_month|last|lower }} {{ selected_year }}</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive mb-4 text-center">
            <table class="table table-bordered custom-table">
              <thead class="table-dark">
                <tr>
                  <th>Дата</th>
                  <th>Время</th>
                  <th>Тип услуги</th>
                  <th>Статус</th>
                  <th>Действия</th>
                </tr>
              </thead>
              <tbody>
                {% if online_rec %}
                  {% for online in online_rec %}
                  <tr>
                    <td>{{ online.appointment_date|date:"d.m.Y" }}</td>
                    <td>{{ online.appointment_time|date:"H:i" }}</td>
                    <td>{{ online.get_service_type_display }}</td>
                    <td>{{ online.get_service_status_display }}</td>
                    <td>
                      <a class="btn btn-outline-dark btn-sm me-2" href="{% url 'online:update_online_rec' online.id %}">
                        <i class="bi bi-pencil"></i> Перенести
                      </a>
                      <a class="btn btn-outline-danger btn-sm" href="{% url 'online:delete_online_rec' online.id %}">
                        <i class="bi bi-trash"></i> Отменить
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="5" class="text-center text-dark">У вас пока нет записей за этот месяц</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>

          <div class="text-center">
            <a class="btn btn-outline-dark btn-sm" href="{% url 'online:add_online_rec' %}">
              <i class="bi bi-pencil"></i> Записаться на маникюр
            </a>
          </div>
        </div>
      </div>

      <h5 class="text-center mb-4 mt-4">Ниже Вы можете отредактировать или удалить свой отзыв</h5>

      <div class="row justify-content-center">
        {% if review_list %}
          {% for review in review_list %}
          <div class="col-lg-6 mb-4">
            <div class="card shadow-sm" style="background-color: rgba(255, 255, 255, 0.5);">
              <div class="card-body">
                <p class="card-text">{{ review.text }}</p>
              </div>
              <div class="card-footer text-center">
                {% if review.like_count > 0 %}
                    <span class="heart-icon {% if review.user_has_liked %}liked{% endif %}">❤️ {{ review.like_count }}</span> 
                {% else %}
                    <span class="heart-icon">🤍</span>
                {% endif %}  
                <small class="text-dark">Опубликовано: {{ review.created_at|date:"d.m.Y в H:i" }}</small>
              </div>
              {% if user == review.author %}
              <div class="card-footer text-center">
                <a class="btn btn-outline-dark btn-sm me-2" href="{% url 'reviews:update_review' review.id %}">
                  <i class="bi bi-pencil"></i> Отредактировать
                </a>
                <a class="btn btn-outline-danger btn-sm" href="{% url 'reviews:delete_review' review.id %}">
                  <i class="bi bi-trash"></i> Удалить
                </a>
              </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        {% else %}
        <div class="col-lg-8 text-center">
          <p class="text-dark">У вас пока нет отзыва</p>
          <a class="btn btn-outline-dark btn-m me-2" href="{% url 'reviews:add_review' %}">
            <i class="bi bi-pencil"></i> Оставить отзыв
          </a>  
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}